* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    font-weight: bolder;
}

.branding img {
    width: 250px;
}

#profilepic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

body {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    font-weight: normal;
}

span {
    font-weight: bolder;
    margin-top: 0px;
}

header {
    color: black
}

.hero {
    display: flex;
    background-color: #94D243;
    padding: 20px 0px 20px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: white;
    font-weight: 400;
    margin-top: 20px;
    background-image: url('../images/box-texture.png');
    align-items: center;
    min-height: 200px;
}



.results {
    background-color: #94D243;
    padding: 20px;
}

.results h2 {
    margin-top: 20px;
}

ul {
    list-style: none;
}

li {
    margin-top: 5px;
}

.search-col1 {
    flex: 1 800px;
}

.hero .heading {
    display: block;
    background-color: #94D243;
    float: left;
    padding: 5px;
}

.hero input {
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 80%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.hero button {
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
}

.col1 .heading {
    display: flex;
    background-color: #AE50DA;
    margin-bottom: 10px;
}

.heading h3 {
    font-size: 20px;
}

.worsttitle {
    font-size: 25px;
}

.review {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

#genre {
    background-color: #7f39a0;
    padding: 0px 3px 0px 3px;
    margin: 0px 5px 0px 5px;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    float: left;
    font-weight: bolder;
}

.content {
    padding: 5px;
}

.mflops {
    background-color: #AE50DA;
}

.col2 .heading {
    display: block;
    background-color: #56D3E4;
    float: left;
}

.search-col2 {
    flex: 2 200px;
    margin-left: 30px;
}

.search-col2 img {
    width: 300px;
}

.container {
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searches {
    display: flex;
}

.col1 {
    padding: 20px;
    margin-right: 20px;
    flex: 1 50%;
    background-color: #AE50DA;
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-image: url('../images/box-texture.png');
}

.shapes img {
    width: 300px
}


.item {
    margin: 5px;
    display: flex;
}

.itemdetails {
    margin-left: 10px;
}

.col2 {
    padding: 20px;
    flex: 2 50%;
    background-color: #56D3E4;
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-image: url('../images/box-texture.png');
}

.millfalcon {
    width: 100%;
}

.resultimage {

    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: block;
    object-fit: cover;
}

.searchresults {
    font-style: normal;
    font-weight: normal;
}

.actappearsin {
    /* font-style: italic; */
    font-size: 14px;
    font-weight: normal;
    color: #7a7a7a;
}

.searchactorname {
    font-style: normal;
}

.quote {
    padding: 15px;
}

.confusion {
    width: 200px
}

.modal-header {
    background-color: #94D243;
}

.modal-footer {
    background-color: #cdcdcd;
}

.modal-body {
    padding-bottom: 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    font-weight: normal;
    color: #dcdcdc;
    font-size: 17px; 
  }